<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geomagnetic Storm</title>
</head>
<body>

    <h1>Geomagnetic Storm</h1>

    <table>
        <tr>
            <th>Data</th>
            <th></th>
        </tr>

        <%for(let i = api.length - 1; i >= 0; i--){%>
            <tr>
                <td><%=api[i].gstID%></td>
                <td><a href="/notasGST/<%=api[i].gstID%>">Acessar</a></td>
            </tr>
        <%}%>
    </table>
</body>
</html>